#news_content p{
    font-size:17px;
    line-height:24px;
    color:#393939;
    text-indent:0em;
    /*margin-bottom:-15px;设置段落间距 px为像素点*/
    
    
}
#news_content p img{
    /* margin-top:-6px; */
    display:inline-block;
}
body, div, img, ul, dl, dl dd, ul li, ol, ol li, h1, h2, h3, h4, h5, h6, p {
    margin:0px auto;
    padding:0px;
    font-size:12px;
    font-family:"宋体";
    list-style:none;
    border:0px;
}
html {
    height: 100%;
}
img{
    width:100%;
}
body{
    width:100%;
    background:#F8F8F5;
}
.header{
    margin-top:30px;
    text-align:left;
    width:306px;
}
.time_s span{
    padding-right:17px;
    color:#9C9C9C;
    font-size:13px;
}
.hot{
    border-left:4px solid #C92621;
}
.baoguang{
    border-left:4px solid #FFE908;
}
.beijing{
    border-left:4px solid #0062B9;
}
.hot , .baoguang , .beijing{
    padding-left:10px;
    margin-top:18px;
}
h1{
    width:14.1em;
    font-weight:normal;
    font-size:20px;
    padding-bottom:10px;
    color:#1C1C1C;
    float:left;
}
.time_s{
    width:100%;
    float:left;
}
.clear{
    clear:both;
}
.content{
    width:100%;
    clear:both;
    padding:25px 14px 0;
}
.content dl{
    border:1px solid #E6E6E6;
    background:#fff;
    text-align:center;
    padding:4px;
    margin-bottom:10px;
}
.content dt img{
    width:100%;
}
.content dd{
    font-size:15px;
    line-height:24px;
    color:#a1a1a1;
    text-align:left;
}
#news_content{
    width:100%;
    overflow:hidden;
    margin：0 auto;
}